/** 
 * @filename    styles.css
 * @brief       CSS essentials
 * @author      Sarah Rosanna Busch
 * @version     0
 * @date        15 May 2023
 */

* /* padding and border are included in total width/height of all elements */
{
  box-sizing: border-box;
  margin: 0px;
}

header, section, footer, aside, nav, main, article, figure
{
  display: block; /* to define html5 semantic elements in older browsers */
}

:root {
    --background-color: var(--dark-background-color);
    --color: var(--dark-color);
    --button-bg-color: var(--dark-button-bg-color);
  
    /* dark mode */
    --dark-background-color: #0a0a0a;
    --dark-color: #f0f0f0;
    --dark-button-bg-color: #1b1b1b;
  
    /* light mode */
    --light-background-color: #ffffff;
    --light-color: #252525;
    --light-button-bg-color: #f0f0f0;
}

/******************************** Header ************************************/

header
{
  background-color: black;
  text-align: center;
  padding: 10px;
}

h1#title { font-family: fantasy; color: darkcyan; }

subTitle /* html5 allows custom elements */
{
  display: block;
  color: lightblue;
  font-family: cursive;
}

/********************************* Main *************************************/

main
{
  background-color: grey;
  padding: 20px;
}

p.text { font-family: monospace; }

/* default styles are for phone-sized screens; layout is responsive: */
@media only screen and (min-width: 600px) /* tablet-sized */
{

}

@media only screen and (min-width: 850px) /* full-screen */
{

}
